<!DOCTYPE html>
<html>
    <head>
        <title>MOVIE PICKER</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    </head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/app.css">
   <body>
        <div class="ui menu inverted blue">
            <!-- <div class="ui container"> -->
                <a href="/" class="header item">
                    <i class="icon play big"></i>
                    Movie Picker
                </a>
                <a href="/" class="item active">Home</a>
                <a href="#" class="item">About Us</a>
                <div class="right menu">
                    <a href="#" class="item">Sign Up</a>
                    <a href="#" class="item">Login</a>
                    <a href="#" class="item">Logout</a>
                </div>
            <!-- </div> -->
        </div>
        <!-- <nav id="nav1" class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">Movie Picker</a>
            <div class="collapse navbar-collapse" id="supportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav> -->