<%- include("partials/header") %>

<div class="container my-5">
    <h1 class="display-5 text-center">RESET PASSWORD HERE!</h1>
    <div class="row mt-5">
        <div class="col col-lg-12">
            <form class="mx-5" action="/forgot" method="POST">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                </div>
                <button class="btn btn-large btn-info">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") %>