<%- include("../partials/header") %>

<div class="container my-5">
    <div class="d-flex justify-content-between align-items-start mb-3">
        <h1>ALL ACTORS</h1>
        <% if(currentUser && currentUser.isAdmin){ %>
            <a class="btn btn-primary" href="/actors/new">Add actors</a>
        <% } %>
    </div>
    <div class="row">
        <% actors.forEach((actor)=>{ %>
            <div class="col-lg-4">
                <p><a href="/actors/<%= actor._id %>"><%= actor.name %></a></p>
            </div>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") %>