<%- include("../partials/header") %>

<div class="container">
    <form action="/movies" method="POST" class="my-5 px-5">
        <div class="form-group">
            <label for="name">Movie Name:</label>
            <input id="name" type="text" name="name" class="form-control" placeholder="Movie Name" required>
        </div>
        <div class="form-group">
            <label for="poster">Movie Poster:</label>
            <input id="poster" type="text" name="poster" class="form-control" placeholder="Movie Poster" required>
        </div>
        <div class="form-group">
            <label for="image">Movie Image:</label>
            <input id="image" type="text" name="image" class="form-control" placeholder="Movie Image" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="release">Release Date:</label>
                <input id="release" type="date" name="release" class="form-control" placeholder="Movie Release Date" required>
            </div>
            <div class="form-group col-md-6">
                <label for="genre">Movie Genres:</label>
                <input id="genre" type="text" name="genres" class="form-control" placeholder="Movie Genre" required>
            </div>
        </div>
        <div class="form-group">
            <label for="cast">Movie Cast:</label>
            <input id="cast" type="text" name="cast" class="form-control" placeholder="Movie Cast" required>
        </div>
        <div class="form-group">
            <label> Movie Plot: <br> <textarea class="mt-2 text-justify" name="plot" placeholder="Movie Plot" cols="138" rows="4"></textarea>
            </label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Box Office Budget In Million[$]:</label>
                <input id="boxoffice1" type="text" name="budget" class="form-control" placeholder="Budget">
            </div>
            <div class="form-group col-md-6">
                <label for="boxoffice2">Box Office Collection In Million[$]:</label>
                <input id="boxoffice2" type="text" name="profit" class="form-control" placeholder="Profit">
            </div>
        </div>
        <div class="form-group">
            <label for="primeLink">Amazon Prime Video Link:</label>
            <input id="primeLink" type="text" name="link[prime]" class="form-control" placeholder="Amazon Prime Video Link">
        </div>
        <div class="form-group">
            <label for="netflixLink">Netflix Link:</label>
            <input id="netflixLink" type="text" name="link[netflix]" class="form-control" placeholder="Netflix Link">
        </div>
        <div class="form-group">
            <label for="hotstarLink">Hotstar Link:</label>
            <input id="hotstarLink" type="text" name="link[hotstar]" class="form-control" placeholder="Hotstar Link">
        </div>
        <div class="form-group">
            <label for="youtubeLink">Youtube Link:</label>
            <input id="youtubeLink" type="text" name="link[youtube]" class="form-control" placeholder="Youtube Link">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>

<%- include("../partials/footer") %>